* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.testBtn {
    position: fixed;
    top: 100px;
}
.testBtn div {
  padding: 10px 20px;
  border: 1px solid #000;
  cursor: pointer;
}
.testBtn div:hover {
  background: #000;
  color: #fff;
}

